.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .loginButton{
        font-size: 20px;
        border: none;
        background: white;
        padding: 10px 15px;
        border-radius: 4px;
        font-weight: 600;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
      font-family: 'Gabarito', sans-serif;

      &:hover{
        background: rgb(207, 203, 203);
      }
      }
    }
  }
   
  .input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    h1{
      font-family: 'Gabarito', sans-serif;
      text-align: center;
      font-size: 40px;
    }

    .inputType{
      display: flex;
      align-items: center;
      justify-content: center; 
      background: white;
      border-radius: 10px;
      padding: 10px 30px;

      .inputIcon{
        font-size: 30px;
        margin-right: 10px;
      }

      input{
        background: transparent;
        border: none;
        width: 100%;
        font-size: 15px;
        font-family: 'Gabarito', sans-serif;
        &::placeholder{
          color: black;
          font-size: 20px;
          font-family: 'Gabarito', sans-serif;
        }

        &:focus{
          outline: none;
        }
      }
    }


  .registerButton{
    font-size: 20px;
    font-family: 'Gabarito', sans-serif;
    border: none;
    padding: 10px 0px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;

    &:hover{
      background: rgb(207, 203, 203);
    }
  }

  }
}
